---
import { Image } from 'astro:assets';
import melon from '../assets/images/melon.svg'; 
import streaming from '../assets/images/streaming.svg';
import newzealand from '../assets/images/newzealand.svg';
import scooter from '../assets/images/scooter.svg';
import vind from '../assets/images/vind.svg';
import Volkswagen from '../assets/images/Volkswagen.svg';
import mail from '../assets/images/mail.svg';
import elkædel from '../assets/images/elkædel.svg';
---

<div class="bg-[D6D1BE] lg:pb-14 lg:pt-28 pt-14 mx-10">
    <h2 class="text-[#7E2512] text-center lg:pb-10 text-3xl lg:text-5xl zoomIn">Vidste du..?</h2>

<div class="grid grid-cols-2 pt-10 gap-6 text-[#7E2512] font-bold lg:grid-cols-4 lg:px-20 lg:gap-20 lg:pr-0">
    <div class="pb-8 text-sm lg:pb-4 lg:text-base">
        <Image src={melon} alt="melon" class="h-32 w-32 lg:h-40 lg:w-40"></Image>
        <p class="pt-4 pr-4 lg:pr-20">15 timers video-møder udsender 9,4 kg CO₂ om måneden – det svarer til størrelsen af en stor vandmelon!</p>
    </div>

    <div class="pb-8 text-sm pl-5 lg:pb-4 lg:text-base lg:pl-0">
        <Image src={streaming} alt="streaming" class="h-32 w-32 lg:h-40 lg:w-40"></Image>
        <p class="pt-4 lg:pr-20">Hvis 70 mio. streamingbrugere skiftede til standardkvalitet, svarer det til 3,5 millioner tons CO₂ besparet.</p>
    </div>

    <div class="pb-8 text-sm lg:pb-4 lg:text-base">
        <Image src={newzealand} alt="New Zealand" class="h-32 w-32 lg:h-40 lg:w-40"></Image>
        <p class="pt-4 pr-4 lg:pr-20">Bitcoin-minedrift bruger mere energi end New Zealands årlige forbrug..</p>
    </div>

    <div class="pb-8 text-sm pl-5 lg:pb-4 lg:text-base lg:pl-0">
        <Image src={scooter} alt="Elscooter" class="h-32 w-32 lg:h-40 lg:w-40"></Image>
        <p class="pt-4 lg:pr-20"> 2 timers videoafspilning = energi til 3000 km på el-scooter/år med et dagligt transportbudget på 8 km.</p>
    </div>

    <div class="pb-8 text-sm lg:pb-4 lg:text-base">
        <Image src={vind} alt="Vindmølle" class="h-32 w-32 lg:h-40 lg:w-40"></Image>
        <p class="pt-4 pr-4 lg:pr-20">Google bruger 15.616MWh/dag – det er mere end dansk havvindmølle.
            Det er nok til at forsyne 1 million indbyggere i en dag. </p>
    </div>

    <div class="pb-8 text-sm pl-5 lg:pb-4 lg:text-base lg:pl-0">
        <Image src={Volkswagen} alt="Volkswagen" class="h-32 w-32 lg:h-40 lg:w-40"></Image>
        <p class="pt-4 lg:pr-20">Internetforbrug, hovedsageligt fossilt brændstofdrevet, udsender over 870 mio. tons CO₂, svarende til 783 mia. Volkswagen-biler. </p>
    </div>

    <div class="pb-8 text-sm lg:pb-4 lg:text-base">
        <Image src={mail} alt="mail" class="h-32 w-32 lg:h-40 lg:w-40"></Image>
        <p class="pt-4 pr-4 lg:pr-20">Hver dag sendes der 281 milliarder e-mails globalt. Arbejdsmails samt personlige konti, kræver i snit over 3 timer dagligt – mere end 20 uger årligt.</p>
    </div>

    <div  class="pb-8 text-sm pl-5 lg:pb-4 lg:text-base lg:pl-0">
        <Image src={elkædel} alt="elkædel" class="h-32 w-32 lg:h-40 lg:w-40"></Image>
        <p class="pt-4 lg:pr-20">En enkelt Google-søgning producerer omkring 0,2 gram CO₂, hvilket svarer til mængden af CO₂, der frigives, når man koger vand i elkedlen.</p>
    </div>
</div>
</div>

<script>
	import {inView} from "motion";
	const zoomIn = document.querySelector(".zoomIn");

	inView(zoomIn, () => {
		zoomIn.classList.add("animate__animated", "animate__zoomIn");
	})

</script>

